<ul class="nav">
    <li class="nav-item nav-profile border-bottom">
        <a href="#" class="nav-link flex-column">
            <div class="nav-profile-image">
                <img src="../assets/images/faces/face1.jpg" alt="profile" />
                <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                <span class="font-weight-semibold mb-1 mt-2 text-center">Curaduria</span>
            </div>
        </a>
    </li>
    <li class="nav-item pt-3">
        <form class="d-flex align-items-center" action="#">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control border-0" placeholder="Search" />
            </div>
        </form>
    </li>
    <li class="pt-2 pb-1">
        <span class="nav-item-head">Template Pages</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Admin.html?parametro=inicio">
            <i class="mdi mdi-compass-outline menu-icon"></i>
            <span class="menu-title">Inicio</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Admin.html?parametro=NoticiasC">
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            <span class="menu-title">Cargue Noticia</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Admin.html?parametro=Empleado">
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            <span class="menu-title">Cargue Empleado</span>
        </a>
    </li>

</ul>